<h1>this is about index and root pages</h1>

<%#= link_to 'Books Category', categories_path %>
<table>
	<td><%= link_to ' Add new category ', new_category_path %></td>
    <td><%= link_to ' Add new aurthor ', new_aurthor_path %></td>
    <tr><%= link_to ' Add new book ', new_book_path %></tr>
</table>
